#### While loop

In [12]:
name1 = 0

while name1 < 10:
    print('Kalpana', end = ' ')
    name1 = name1 + 1

Kalpana Kalpana Kalpana Kalpana Kalpana Kalpana Kalpana Kalpana Kalpana Kalpana

In [13]:
name1 = 0

while name1 < 10:
    print('Kalpana', end = ' ')
    name1 += 1

Kalpana Kalpana Kalpana Kalpana Kalpana Kalpana Kalpana Kalpana Kalpana Kalpana

In [14]:
# print numbers from 21 to 30

In [15]:
# print the sum of first 10 natural numbers

In [18]:
add = 0
num = 1
while num <= 10:
    add = add + num
    num += 1
    
print ('Addition is ', add)

Addition is  55

In [22]:
# addition of odd numbers till 20

In [23]:
add = 0
num = 1

while num <= 20:
    add = add + num
    num += 2
    
print ('Addition is ', add)

Addition is  100

# For loop

In [25]:
x = [2,34,5,6,7,8,3]

for i in x:
    print(i)

2
34
5
6
7
8
3

In [26]:
for i in range (20):
    print (i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

# Range function

(x,y,z) -> three parameters

x -> start point         # range (1,20,2)
y -> ending point
z -> step

In [33]:
for i in range(51,1,-5):
    print (i)

51
46
41
36
31
26
21
16
11
6

In [34]:
for x in 'Rajesh':
    print(x*10)

RRRRRRRRRR
aaaaaaaaaa
jjjjjjjjjj
eeeeeeeeee
ssssssssss
hhhhhhhhhh

In [35]:
# print square of first 5 numbers

In [36]:
for i in range(5):
    print(i*i)

0
1
4
9
16

In [37]:
for x in range(10):
    print('Saurabh')

Saurabh
Saurabh
Saurabh
Saurabh
Saurabh
Saurabh
Saurabh
Saurabh
Saurabh
Saurabh

In [38]:
# break statement

In [41]:
for x in range(10):
    if x == 5:
        break
    print(x)

0
1
2
3
4

In [42]:
for x in range(10):
    if x == 5:
        continue
    print(x)

0
1
2
3
4
6
7
8
9

In [ ]:
# assignment -> patterns