In [1]:
def show():
    print('hello')

In [2]:
show()

hello

In [3]:
for i in range(10):
    show()

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [4]:
list1 = [34,243,456,43,32]

max(list1)

456

In [5]:
min(list1)

32

In [6]:
# parameterized function

In [7]:
def square(n):
    sq = n * n
    print ('square is', sq)

In [8]:
square(10)

square is 100

In [9]:
# function for cube

In [10]:
def cube(n):
    cu = n ** 3
    print ('square is', cu)
    
cube(4)

square is 64

In [11]:
def large(x, y):
    if x > y:
        print('Larger is', x)
    else:
        print('Larger is', y)

In [13]:
large(50,50)

Larger is 50

In [14]:
# Return

In [15]:
def square(n):
    sq = n * n
    return sq

In [16]:
square(2)

4

In [18]:
def calc(n):
    sq = n * n
    cu = n ** 3
    return sq, cu

In [19]:
calc(3)

(9, 27)

In [20]:
square(7) * 10

490

In [21]:
# factorial

In [22]:
def factorial (n):
    fact = 1
    for x in range (1,n+1):
        fact = fact * x
    return fact

factorial(5)

120

#### Default Parameters and Keyword Arguments

In [3]:
def calc(x=4, y=2, z=3):
    add = x + y + z
    return(add)

In [4]:
print('Add1:',calc(8,4,1))
print('Add2:',calc(8,4))
print('Add3:',calc(5))
print('Add4:',calc())
print('Add5:',calc(y=6))
print('Add6:',calc(y=6,z=8,x=2))

Add1: 13
Add2: 15
Add3: 10
Add4: 9
Add5: 13
Add6: 16

In [5]:
t = [5,7,5,2,8,9]
sorted(t)

[2, 5, 5, 7, 8, 9]

In [6]:
sorted(t, reverse=True)

[9, 8, 7, 5, 5, 2]

In [23]:
# lamda/anonymous funuction

In [29]:
cube1= lambda x: x**3

In [30]:
cube1(5)

125

function_name = lamda parameters: function code

In [1]:
fact = lambda x: 1 if x == 0 else x * fact(x-1) #######################

In [2]:
fact(5)

120

In [41]:
# map

In [42]:
list11 = [23,23,45,67,12,10]

In [46]:
newl = map(lambda x:x/2, list1)

In [49]:
list(newl)

[17.0, 121.5, 228.0, 21.5, 16.0]